<div class="container">
    <div class="row">
      <div class="col">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./assets/img/rpa.jpg" alt="Avatar" style="width:500px;height:300px;">
            </div>
            <div class="flip-card-back">
              <h1>RPA</h1>
              <p>Robotic process automation (RPA) is a software technology that makes it easy to build, deploy, and manage software robots that emulate humans actions interacting with digital systems and software.</p> 
            </div>
          </div>
        </div>
      </div>
   
      <div class="col">
        <h1>RPA</h1>
       <p>Robotic process automation (RPA) is a software technology that makes it easy to build, deploy, and manage software robots that emulate humans actions interacting with digital systems and software.</p>
       <p>Software robots—instead of people—do repetitive and lower-value work, like logging into applications and systems, moving files and folders, extracting, copying, and inserting data, filling in forms, and completing routine analyses and reports.</p>
       <p>RPA is noninvasive and can be rapidly implemented to accelerate digital transformation.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  