<div class="container">
    <div class="row">
      <div class="col">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./assets/img/Core-Java-Pro.jpg" alt="Avatar" style="width:500px;height:300px;">
            </div>
            <div class="flip-card-back">
              <h1>Core Java</h1>
              <p>The word Core describes the basic concept of something, and here, the phrase 'Core Java' defines the basic Java that covers the basic concept of Java programming language.</p> 
            </div>
          </div>
        </div>
      </div>
   
      <div class="col">
        <h1>Core Java</h1>
       <p>The word Core describes the basic concept of something, and here, the phrase 'Core Java' defines the basic Java that covers the basic concept of Java programming language.</p>
       <p>We all are aware that Java is one of the well-known and widely used programming languages, and to begin with it, the beginner has to start the journey with Core Java and then towards the Advance Java.</p>
       <p>The Java programming language is a general-purpose programming language that is based on the OOPs concept.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  