<div class="container">
    <div class="row">
      <div class="col">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./assets/img/dev.png" alt="Avatar" style="width:500px;height:300px;">
            </div>
            <div class="flip-card-back">
              <h1>DevOps</h1>
              <p>DevOps is the combination of cultural philosophies, practices, and tools that increases an organization’s ability to deliver applications and services at high velocity.</p> 
            </div>
          </div>
        </div>
      </div>
   
      <div class="col">
        <h1>DevOps</h1>
       <p>Under a DevOps model, development and operations teams are no longer “siloed.” Sometimes, these two teams are merged into a single team where the engineers work across the entire application lifecycle, from development.</p>
       <p>In some DevOps models, quality assurance and security teams may also become more tightly integrated with development and operations and throughout the application lifecycle. When security is the focus of everyone on a DevOps team, this is sometimes referred to as DevSecOps.</p>
       <p>These teams use practices to automate processes that historically have been manual and slow.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  