<div class="container">
    <div class="row">
      <div class="col">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./assets/img/advjava.jpg" alt="Avatar" style="width:500px;height:300px;">
            </div>
            <div class="flip-card-back">
              <h1>Advance Java</h1>
              <p>The dictionary meaning of advance is a forward movement or a development or improvement and the meaning of improve means thing that makes something better.</p> 
            </div>
          </div>
        </div>
      </div>
   
      <div class="col">
        <h1>Advance Java</h1>
       <p>Advanced Java covers the standard concepts such as database connectivity, networking, Servlet, web-services, etc. </p>
       <p>It is a part of Java programming language. It is an advanced technology or advance version of Java specially designed to develop web-based, network-centric or enterprise applications.</p>
       <p>Most of the applications developed using advance Java uses tow-tier architecture i.e. Client and Server. All the applications that runs on Server can be considered as advance Java applications.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  