<div style="height:250px;">
    <article style="align-items: center; text-align: center;">
      <br>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="./assets/img/home1.jpg" alt="Avatar" style="width:550px;height:385px;">
                </div>
                
              </div>
            </div>
          </div>
       
          <div class="col">
            <h1>Moodle</h1>
            <br>
           <p>Moodle is a learning platform designed to provide educators, administrators and learners with a single robust, secure and integrated system to create personalised learning environments. You can download the software onto your own web server or ask one of our knowledgeable Moodle Certified Partners and Service Providers to assist you. </p>
           <p>Moodle is built by the Moodle project which is led and coordinated by Moodle HQ, which is financially supported by a network of over 80 Moodle Partner service companies worldwide.</p>
           <p>With over 10 years of development guided by social constructionist, Moodle delivers a powerful set of learner-centric tools and collaborative learning environments that empower both teaching and learning.</p>
          </div>
        </div>
      </div>
    </article>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <h1 style="align-items: center; justify-content: center; text-align: center;">Popular Courses</h1>
    <body>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12 col-lg-4">
                  <div class="card">
                      <label for="card1" aria-hidden="true" class="d-block w-100 h-100">
                          <input type="checkbox" id="card1" class="more" aria-hidden="true">
                          <div class="content">
                              <div class="front" style="background-image: url('./assets/img/py.png')">
                                  <div class="inner position-relative text-center">
                                  </div>
                                  <div class="caption text-center">
      
                                      <h3></h3>
                                  </div>
                              </div>
                              <div class="back">
                                  <ul class="nav justify-content-center nav-justified" role="tablist">
                                      <li class="nav-item active">
                                          <a class="nav-link   show" href="#bio" role="tab" data-toggle="tab">About Python</a>
                                      </li>
                                      
                                  </ul>
                                  <div class="tab-content ">
                                      <div role="tabpanel" class="tab-pane fade show active" id="bio">
                                          <div class="bio">
                                              <h3 id="bio_title">Python</h3>
                                              <span id="bio_description">
                                                Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.Guido van Rossum 
                                              </span>
                                          </div>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                      </label>
                  </div>
              </div>
              <div class="col-12 col-lg-4">
                  <div class="card">
                      <label for="card2" aria-hidden="true" class="d-block w-100 h-100">
                          <input type="checkbox" id="card2" class="more" aria-hidden="true">
                          <div class="content">
                              <div class="front" style="background-image: url('./assets/img/donet.jpg')">
                                  <div class="inner position-relative text-center">
                                  </div>
                                  <div class="caption text-center">
      
                                      <h3> </h3>
                                  </div>
                              </div>
                              <div class="back">
                                  <ul class="nav justify-content-center nav-justified" role="tablist">
                                      <li class="nav-item active">
                                          <a class="nav-link   show" href="#bio2" role="tab" data-toggle="tab">About .NET</a>
                                      </li>
                          
                                  </ul>
                                  <div class="tab-content ">
                                      <div role="tabpanel" class="tab-pane fade show active" id="bio2">
                                          <div class="bio">
                                              <h3 id="bio_title">DotNet</h3>
                                              <span id="bio_description">
                                                NET Core, in an effort to include cross-platform support for .NET, including on Linux and macOS, source for the .NET Core CoreCLR implementation, source for the "entire library stack" for .NET Core,[7] and the adoption of a conventional open-source development model under the stewardship of the .NET Foundation.
                                              </span>
                                          </div>
                                      </div>
                                      <div role="tabpanel" class="tab-pane fade" id="album2">
                                          <div class="bio inline">
                                              <div class="row text-center">
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
      
                                              </div>
                                          </div>
                                      </div>
                                      <div role="tabpanel" class="tab-pane fade" id="songs2">
                                          <div class="songs">
                                              <div class="">
                                                  <div class="col">
                                                      <ul class="list-group list-group-flush list-unstyled">
                                                          <li class="list-group-item">
                                                              <div class="row">
                                                                  <div class="col-4 ">
                                                                      <img class="p-1" src='./images/Rectangle%2018@2x.png'
                                                                           width="80" height="90"/>
                                                                  </div>
                                                                  <div class="col-8 text-left">
                                                                      <div class="d-flex">
                                                                          <span > Thunder</span>
                                                                          <small class="ml-auto">4:05 min</small>
                                                                      </div>
                                                                      <small>Origins - Imagine Dragons</small>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                          <li class="list-group-item">
                                                              <div class="row">
                                                                  <div class="col-4 ">
                                                                      <img class="p-1" src='./images/Rectangle%2019@2x.png'
                                                                           width="80"/>
                                                                  </div>
                                                                  <div class="col-8 text-left">
                                                                      <div class="d-flex">
                                                                          <span > Demons</span>
                                                                          <small class="ml-auto">4:05 min</small>
                                                                      </div>
                                                                      <small>Smoke & Mirrors - Imagine Dragons</small>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                          <li class="list-group-item">
                                                              <div class="row">
                                                                  <div class="col-4">
                                                                      <img class="p-1" src='./images/Rectangle%2020.png'
                                                                           width="80"/>
                                                                  </div>
      
                                                                  <div class="col-8 text-left">
                                                                      <div class="d-flex">
                                                                          <span > Night Visions</span>
                                                                          <small class="ml-auto">4:05 min</small>
                                                                      </div>
                                                                      <small>Imagine Dragons</small>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </label>
                  </div>
              </div>
              <div class="col-12 col-lg-4">
                  <div class="card">
                      <label for="card3" aria-hidden="true" class="d-block w-100 h-100">
                          <input type="checkbox" id="card3" class="more" aria-hidden="true">
                          <div class="content">
                              <div class="front" style="background-image: url('./assets/img/c.jpg')">
                                  <div class="inner position-relative text-center">
                                  </div>
                                  <div class="caption text-center">
      
                                      <h3></h3>
                                  </div>
                              </div>
                              <div class="back">
                                  <ul class="nav justify-content-center nav-justified" role="tablist">
                                      <li class="nav-item active">
                                          <a class="nav-link   show" href="#bio3" role="tab" data-toggle="tab">About C Sharp</a>
                                      </li>
                                     
                                  </ul>
                                  <div class="tab-content ">
                                      <div role="tabpanel" class="tab-pane fade show active" id="bio3">
                                          <div class="bio">
                                              <h3 id="bio_title">C Sharp</h3>
                                              <span id="bio_description">
                                                C# (C-Sharp) is a programming language developed by Microsoft that runs on the .NET Framework. C# is used to develop web apps, desktop apps, mobile apps, games and much more.The C# programming language was designed by Anders Hejlsberg from Microsoft in 2000 and was later approved as an international standard by Ecma (ECMA-334) in 2002 and ISO/IEC (ISO/IEC 23270) in 2003.
                                              </span>
                                          </div>
                                      </div>
                                      <div role="tabpanel" class="tab-pane fade" id="album3">
                                          <div class="bio inline">
                                              <div class="row text-center">
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
      
                                              </div>
                                          </div>
                                      </div>
                                      <div role="tabpanel" class="tab-pane fade" id="songs3">
                                          <div class="songs">
                                              <div class="">
                                                  <div class="col">
                                                      <ul class="list-group list-group-flush list-unstyled">
                                                          <li class="list-group-item">
                                                              <div class="row">
                                                                  <div class="col-4 ">
                                                                      <img class="p-1" src='./images/Rectangle%2018@2x.png'
                                                                           width="80" height="90"/>
                                                                  </div>
                                                                  <div class="col-8 text-left">
                                                                      <div class="d-flex">
                                                                          <span > Thunder</span>
                                                                          <small class="ml-auto">4:05 min</small>
                                                                      </div>
                                                                      <small>Origins - Imagine Dragons</small>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                          <li class="list-group-item">
                                                              <div class="row">
                                                                  <div class="col-4 ">
                                                                      <img class="p-1" src='./images/Rectangle%2019@2x.png'
                                                                           width="80"/>
                                                                  </div>
                                                                  <div class="col-8 text-left">
                                                                      <div class="d-flex">
                                                                          <span > Demons</span>
                                                                          <small class="ml-auto">4:05 min</small>
                                                                      </div>
                                                                      <small>Smoke & Mirrors - Imagine Dragons</small>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                          <li class="list-group-item">
                                                              <div class="row">
                                                                  <div class="col-4">
                                                                      <img class="p-1" src='./images/Rectangle%2020.png'
                                                                           width="80"/>
                                                                  </div>
      
                                                                  <div class="col-8 text-left">
                                                                      <div class="d-flex">
                                                                          <span > Night Visions</span>
                                                                          <small class="ml-auto">4:05 min</small>
                                                                      </div>
                                                                      <small>Imagine Dragons</small>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </label>
                  </div>
              </div>
      
          </div>
      </div>
      
      </body>
      <script>
          $('li > a').on('click', function () {
              $('li').removeClass();
              $('li').addClass('nav-item');
              $(this).parent().addClass('nav-item active');
          });
      </script>
  
<br>
    